@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import 'tailwindcss';

@theme {
  --color-spotify-green: #1db954;
  --color-spotify-green-highlight: #15803b;
  --color-background: #121212;
  --color-white-background: #ffffff;
  --color-mid-background: #212121;
  --color-background-translucent: #5353535c;
  --color-light-background: #535353;
  --color-highlight-bright: #787878;
  --color-highlight-dark: #323232;
  --color-font-bright: #ffffff;
  --color-font-mid: #b3b3b3;
  --color-font-dark: #121212;
  --color-failed: #cd4e4e;
  --color-failed-highlight: #d23b3b;
}

body {
  font-family: 'Montserrat', sans-serif;
}

main {
  @apply bg-background;
}

.btn {
  @apply bg-spotify-green hover:bg-spotify-green-highlight text-white font-semibold py-2 px-4 rounded-lg disabled:opacity-50 disabled:cursor-not-allowed active:scale-95;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
  @apply bg-light-background rounded-b-md rounded-r-md;
}

/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
  @apply bg-mid-background;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-highlight-dark;
}
